@media screen and (max-width: 992px){
  .row{
    width:100%;
  }
}

@media screen and (max-width: 768px){
  #lezioni .row>.left, #lezioni .row>.right {
     width:100%;
     margin-bottom:20px;
    }
    #steps .row>.left, #steps .row>.central, #steps .row>.right{
    margin-bottom: 80px;
    float:none;
  }

  #steps .row{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  #steps .row .left,.central,.right{
    flex-basis:50%;
  }

  #steps .row h1{
    width:100%;
  }

}

@media screen and (max-width: 420px){
  
  #steps .row>.left, #steps .row>.central, #steps .row>.right{
    width:100%;
  }

  #lezioni .row{
    margin-top:0;
  }


  #lezioni, #why{
    background-color:rgb(238, 232, 180);
  }

}