@media screen and (max-width: 992px){
  .row{
    width:100%;
  }
}



@media screen and (max-width: 420px){
  .row, .container{
    width: auto;
  }

  #lezioni .row>.left, #lezioni .row>.right {
    width:auto;
    margin-bottom:20px;
  }

  #steps .row>.left, #steps .row>.central, #steps .row>.right{
    width:auto;
    margin-bottom: 80px;
  }

  #lezioni .row{
    margin-top:0;
  }


  #lezioni, #why{
    background-color:rgb(238, 232, 180);
  }

}